{% extends '_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load hosts %}

{% block content %}
    <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-6.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Welcome to <span>ParishBits</span></h2>
              <p class="animated fadeInUp">Your Parish Announcements Updated Weekly.</p>
              <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-5.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Find a place to worship when away from home</h2>
              <p class="animated fadeInUp">Knowing where and when to attend Mass can be the difference between attending and not attending.</p>
              
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

          <div class="row justify-content-center">

              <div class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>ParishBits</h3>
                <p>Information | Community | Worship</p>
    
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-fingerprint"></i></div>
                  <h4 class="title"><a href="{% url 'cathedral:gallery' %}">Abuja Arch-Diocese</a></h4>
                  <p class="description">News & More.</p>
                </div>
    
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-gift"></i></div>
                  <h4 class="title"><a href="{% url 'cathedral:parish' %}">Parishes</a></h4>
                  <p class="description">Find your Parish.</p>
                </div>
    
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-atom"></i></div>
                  <h4 class="title"><a href="{% url 'cathedral:contact' %}">Contact Us</a></h4>
                  <p class="description">List your Parish.</p>
                </div>
  
              </div>

              <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative"></div>
              

          </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= newabout Section ======= -->
    <section id="newabout team" class="about team">
      <div class="container-fluid">

        <div class="row justify-content-center">
            
            <div class="col-xl-10 col-lg-10 col-md-10" data-wow-delay="0.1s">

              <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6">

                  <div class="member-k">
  
                    <img src="{% static 'assets/img/frben.jpeg' %}" alt="">
  
                    <div class="member-k-info">
  
                      <div class="member-k-info-content">
                        <h4>Fr. Benedict Ahamiojie</h4>
                      </div>
  
                      <div class="social">
                          <a href=""><i class="bi bi-facebook"></i></a>
                      </div>
    
                    </div>
                  
                  </div>
  
                </div>

                <div class="col-xl-9 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                  <h3>The Presentation of the Lord – Feast </h3>
                  <h5>THE REDEEMER WAS REDEEMED AND THE BLESSING WAS BLESSED.</h5>

                  <p class="description">
                    "Every firstborn that issues from the womb, man and beast alike, is consecrated to Me…Therefore, you shall redeem every firstborn of your sons… and when your sons ask you what this means, you will tell them ‘by the strength of His Hand, Yahweh brought us out of Egypt and smote every firstborn of the land, man and beast alike. This is why I sacrifice to the LORD the firstborn male of every womb, but I redeem all the firstborn of my sons’."
                  </p>
                  <p class="description">
                    (Exodus 13)
                  </p>
                </div>

                <div class="col-xl-12 col-lg-6">

                  <p class="description">
                    The above text is the reason why Jesus was brought to the temple for Presentation. The Presentation was a thanksgiving ceremony, remembering what the Lord did in Egypt and acknowledging the firstborn child the Hebrew parents birthed forth. That is why Joseph and Mary came to the temple with two young pigeons: to redeem Jesus Christ! Even Jesus the Redeemer was redeemed (even though he did not need redemption). If not, the parents would not have been able to take him back home from the temple because the firstborn is consecrated to Yahweh… Now you understand why Hannah, the mother of Samuel, totally dedicated him to God and why he spent all his life in the temple. He was a firstborn that Hannah opted not to redeem. The process of redemption is sometimes bizarre and we must stay humble to reap of it. Hence, the Words of Jesus to John the Baptist: “That all righteousness might be fulfilled” to pass in our days. Amen and Amen!
                  </p>

                  <h3 style="text-align:left;">Rev. Fr. Benedict Ahamiojie, PhD</h3>
                </div>

              </div>
              <div class="row">
                <div class="text-center">
                  <a class="btn btn-primary" href="#" role="button">More</a>
                </div>
              </div>

            </div>

        </div>

      </div>
    </section><!-- End Newabout Section -->

    

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Enroll a Community</h3>
          <p> Are you a leader or member of a community not listed on Prisus? Contact us today to get your community enrolled.</p>
          <a class="cta-btn" href="{% url 'cathedral:contact' %}">Contact Us</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

     <!-- ======= Services Section ======= -->
     <section id="services" class="services">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Listed Parishes</h2>
          <h3>Find Your <span>Parish</span></h3>
          <p>Have a look at the parishes on our platform. There might be one right next to you.</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">
              <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="ri-pie-chart-line"></i></div>
                <h4 class="title"><a href="{% host_url 'stkevins:stkevins' host 'stkevinsjikwoyi' %}">St Kevins, Jikwoyi</a></h4>
              </div>
              <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="ri-stack-line"></i></div>
                <h4 class="title"><a href="#">Holy Rosary, Wuse</a></h4>
              </div>
              <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="ri-markup-line"></i></div>
                <h4 class="title"><a href="#">Holy Family, Lifecamp</a></h4>
              </div>
              <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="ri-shape-line"></i></div>
                <h4 class="title"><a href="#">St John, Gwagwalada</a></h4>
              </div>
              <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="ri-fingerprint-line"></i></div>
                <h4 class="title"><a href="#">St Ignatius, Bwari</a></h4>
              </div>
              <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="ri-body-scan-line"></i></div>
                <h4 class="title"><a href="#">St Thomas Aquinas, Wuye.</a></h4>
              </div>
            </div>
            <div class="row">
              <div class="text-center">
                <a class="btn btn-primary" href="{% url 'cathedral:parish' %}" role="button">Find Your Parish</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our Hard Working <span>Team</span></h3>
          <p>There's room for you on our <span>Team.</span></p>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member">
                  <img src="{% static 'assets/img/team/jude.jpeg' %}" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Jude Nnadozie</h4>
                      <span>Chief Executive Officer</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div> <!-- End Member Item -->

              <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="member">
                  <img src="{% static 'assets/img/team/okey.jpeg' %}" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Okey Chima</h4>
                      <span>Web Developer</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div> <!-- End Member Item -->

              

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    
{% endblock content %}