{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load hosts %}

{% block title %}ParishBits - Parishes{% endblock title %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ol>
              <li><a href="{% url 'cathedral:home' %}">Home</a></li>
              <li>Parishes</li>
            </ol>
          </div>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="bg-light pt-5 pb-5 shadow-sm">
      <div class="container">

        <div class="section-title">
          <h2>Parishes</h2>
          <h3>Parishes on <span>ParishBits</span></h3>
          <p>For enquiries about any of the parishes listed and how to enroll your parish on ParishBits, Kindly contact us.</p>
        </div>

        <div class="d-grid gap-3">

          <div class="p-2 bg-light">
            <div class="row">
              <!--ADD CLASSES HERE d-flex align-items-stretch-->
              <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card">
                  <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="card-img-top" alt="Card Image" style="height:500px;">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">St. Kevin's, Jikwoyi</h5>
                    <p class="card-text mb-4">St Kevin's Catholic Church, Jikwoyi is a community of Catholic Faithful drawn from Jikwoyi and parts of Karu, Mararaba and Orozo.</p>
                    <a href="{% host_url 'stkevins:stkevins' host 'stkevinsjikwoyi' %}" class="btn btn-primary mt-auto align-self-start">Visit</a>
                  </div>
                </div>
              </div>
              <!--ADD CLASSES HERE d-flex align-items-stretch-->
              <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card">
                  <img src="{% static 'assets/img/portfolio/holy_rosary.jpg' %}" class="card-img-top" alt="Card Image" style="height:500px;">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Holy Rosary, Wuse</h5>
                    <p class="card-text mb-4">Holy Rosary Catholic Church, Wuse is a community of Catholic Faithful drawn from Wuse.</p>
                    <a href="#" class="btn btn-primary mt-auto align-self-start">Visit</a>
                  </div>
                </div>
              </div>
              <!--ADD CLASSES HERE d-flex align-items-stretch-->
              <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card">
                  <img src="{% static 'assets/img/portfolio/holy_fam.jpg' %}" class="card-img-top" alt="Card Image" style="height:500px;">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Holy Family, Lifecamp</h5>
                    <p class="card-text mb-4">Holy Family Catholic Church, Lifecamp is a community of Catholic Faithful drawn from Lifecamp.</p>
                    <a href="#" class="btn btn-primary mt-auto align-self-start">Visit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="p-2 bg-light">
            <div class="row">
              <!--ADD CLASSES HERE d-flex align-items-stretch-->
              <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card">
                  <img src="{% static 'assets/img/portfolio/stjohn.jpg' %}" class="card-img-top" alt="Card Image" style="height:500px;">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">St John's, Gwagwalada</h5>
                    <p class="card-text mb-4">St John's Catholic Church, Gwagwalada is a community of Catholic Faithful drawn from Gwagwalada.</p>
                    <a href="#" class="btn btn-primary mt-auto align-self-start">Visit</a>
                  </div>
                </div>
              </div>
              <!--ADD CLASSES HERE d-flex align-items-stretch-->
              <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card">
                  <img src="{% static 'assets/img/portfolio/igna.jpg' %}" class="card-img-top" alt="Card Image" style="height:500px;">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">St Ignatius, Bwari</h5>
                    <p class="card-text mb-4">St Ignatius Catholic Church, Bwari is a community of Catholic Faithful drawn from Bwari.</p>
                    <a href="#" class="btn btn-primary mt-auto align-self-start">Visit</a>
                  </div>
                </div>
              </div>
              <!--ADD CLASSES HERE d-flex align-items-stretch-->
              <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card">
                  <img src="{% static 'assets/img/portfolio/sttom.jpg' %}" class="card-img-top" alt="Card Image" style="height:500px;">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">St Thomas Aquinas, Wuye</h5>
                    <p class="card-text mb-4">St Thomas Aquinas Catholic Church, Wuye is a community of Catholic Faithful drawn from Wuye.</p>
                    <a href="#" class="btn btn-primary mt-auto align-self-start">Visit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    

{% endblock content %}


