{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load hosts %}

{% block title %}ParishBits - Reflections{% endblock title %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ol>
              <li><a href="{% url 'cathedral:home' %}">Home</a></li>
              <li>Reflections</li>
            </ol>
          </div>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="bg-light pt-5 pb-5 shadow-sm">
      <div class="container">

        <div class="section-title">
          <h2>Reflections</h2>
          <h3>Reflections for <span>Parishioners</span></h3>
        </div>

        <div class="d-grid gap-3">

            <div class="p-2 bg-light">
                <div class="row">

                    <!--ADD CLASSES HERE d-flex align-items-stretch-->
                    {% for reflection in reflection_list %}
                        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                            <div class="card">
                            <img src="{{ reflection.image.url }}" class="card-img-top" alt="Card Image" style="height:300px;width:300px;">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ reflection.title }}</h5>
                                <p class="card-text mb-4">{{ reflection.content | safe | slice:":200" }}</p>
                                <p class="card-text mb-4">{{ reflection.name }}</p>
                                <a href="{{ reflection.get_absolute_url }}" class="btn btn-primary mt-auto align-self-start">More</a>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                
                
                </div>
            </div>

        </div>

      </div>
    </section>

    

{% endblock content %}


