{% extends 'stkev_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load hosts %}

{% block title %}St Kevins, Jikwoyi - Contact {% endblock title %}

{% block content %}
    <!-- page header
    ================================================== -->
    <section class="page-header page-header--contact">

        <div class="gradient-overlay"></div>
        <div class="row page-header__content">
            <div class="column">
                <h1>Contact Us</h1>
            </div>
        </div>

    </section> <!-- end page-header -->


    <!-- page content
    ================================================== -->
    <section class="page-content">

        <div class="row">
            <div class="column">

                <p class="lead drop-cap">
                    For enquiries about events and activities happening at the parish, 
                    as well as information about becoming a registered member of St 
                    Kevins Parish, Kindly contact the Cathecist or the Parish PRO with 
                    the contact details below:                 
                </p>

                <div class="row">
                    <div class="column large-6 tab-full">
                        <h2>Parish Address.</h2>
                        <p>
                            Phase 3, Jikwoyi<br>
                            Abuja, Nigeria<br>
                        </p>
                    </div>

                    <div class="column large-6 tab-full">
                        <h2>Contact Info.</h2>
                        <p>
                            Parish PRO: +234 5678 910 113<br>
                            Parish Cathecist: +234 5678 910 113 <br>
                            Web Admin: +234 5678 910 113
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section> <!-- end page-content -->

    


    <!-- Social
    ================================================== -->
    <section class="s-social">
            
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->
{% endblock content %}
