{% extends 'stkev_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load hosts %}

{% block title %}St Kevins, Jikwoyi - Events{% endblock title %}

{% block content %}
    <!-- page header
    ================================================== -->
    <section class="page-header page-header--eventss">

        <div class="gradient-overlay"></div>
        <div class="row page-header__content">
            <div class="column">
                <h1>Upcoming Events</h1>
            </div>
        </div>

    </section> <!-- end page-header -->


    <!-- page content
    ================================================== -->
    <section class="page-content">

        <div class="row wide block-large-1-2 block-900-full events-list">
            {% for event in event_list %}
                <div class="column events-list__item">
                    <h3 class="display-1 events-list__item-title">
                        <a href="{{ event.get_absolute_url }}" title="event name">{{ event.title }}</a>
                    </h3>
                    <p>
                        {{ event.content|slice:":300" }}
                    </p>
                    <ul class="events-list__meta">
                        <li class="events-list__meta-date">{{ event.date|date:"l, F j, Y" }}</li>
                        <li class="events-list__meta-time">{{ event.time }}</li>
                        <li class="events-list__meta-location">{{ event.venue }}</li>
                        <li class="events-list__meta-megaphone">{{ event.announcer }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div> <!-- end events-list -->

        <div class="row">
            <div class="column large-full">
                <nav class="pgn">
                {% if is_paginated %}
                    <ul>
        
                        {% if page_obj.has_previous %}
                            <li><a class="pgn__prev" href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                        {% else %}
                        <li><a class="pgn__prev" href="#" style="pointer-events: none;">Prev</a></li>
                        {% endif %}
        
                        {% for i in paginator.page_range %}
                            {% if page_obj.num == i %}
                                <li><span class="pgn__num current">{{ i }}</span></li>
                            {% else %}
                                <li><a class="pgn__num" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
        
                        {% if page_obj.has_next %}
                            <li><a class="pgn__next" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% else %}
                            <li><a class="pgn__next" href="#" style="pointer-events: none;">Next</a></li>
                        {% endif %}
                        
                    </ul>
                {% endif %}
                </nav> <!-- end pgn -->
            </div>
        </div>

    </section> <!-- end page content -->


    <!-- Social
    ================================================== -->
    <section class="s-social">
            
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->
{% endblock content %}
