{% extends 'stkev_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load hosts %}

{% block title %}St Kevins, Jikwoyi - History {% endblock title %}

{% block content %}
    <!-- page header
    ================================================== -->
    <section class="page-header page-header--history">

        <div class="gradient-overlay"></div>
        <div class="row page-header__content">
            <div class="column">
                <h1>Our History</h1>
            </div>
        </div>

    </section> <!-- end page-header -->


    <!-- page content
    ================================================== -->
    <section class="page-content">

        <div class="row">
            <div class="column">

                

                <div class="row">
                    <div class="column large-half medium-full">
                        <img width="500" height="300" class="" alt="sample-image" src="{% static 'assets/img/frjim2.jpeg' %}">
                        <h3>Rev. Fr. Moses Jimbili - Parish Priest</h3>
                    </div>

                    <div class="column large-half medium-full">
                        <p>
                            Preparatory to establishing a worshipping community in Jikwoyi, 
                            Rev. Fr. Richard Devine, SMA said the first Holy Mass in Jikwoyi 
                            on the 22nd of September 1992. That began a tradition of monthly 
                            masses in Jikwoyi. Following that was the erection of a temporary 
                            church building initiated by Fr. Devine in November 1993. And then 
                            in 1994, Fr. Devine named the church St. Kevin’s after his home parish in Ireland. 
                        </p>
                        <p>
                            When Fr. Devine returned to Ireland, Rev. Fr. Jerry Amman, SJ oversaw 
                            St. Kevin’s Church, along with 13 other churches under St. Patrick’s 
                            Parish, Karshi at the time. After Fr. Jerry came Rev. Fr. Anthony Onyeso. 
                            After Fr. Onyeso, the Archdiocese handed St. Patrick’s parish over to the 
                            Missionary Society of Saint Paul (MSP). Rev. Fr. Okpon, MSP became the Parish 
                            Priest, succeeded by Rev. Fr. Anthony Afiangide, MSP, then Rev. Fr. Dominic Oguama, 
                            MSP who created St. Kevin’s Parish out of St. Patrick’s in July 2011. 
                        </p>
                    </div>
                </div>

                <div class="row">

                    <div class="column large-full medium-full">
                        <p>
                            Messrs. Joseph Odey and Soribe Ambrose, Station Council leaders, were instrumental in St. Kevin’s 
                            elevation to a parish by His Grace, Most Rev. Dr. John Olorunfemi Onaiyekan, Archbishop 
                            of the Metropolitan See of Abuja. 
                        </p>
                        <p>
                            The first Parish Priest of St. Kevin’s Parish was Rev. Fr. Ali Edogbanya; he led a pastoral team 
                            comprising Rev. Frs. Daniel Ihunanya, MSP, Christopher Inegbenoghu, and Stephen Akpan that administered 
                            the parish for five years, then handing over to Rev. Fr. Daniel Msugh Agber in 2006. Fr. Agber’s team had 
                            Rev. Frs. Alexander Ogbenufe, Christopher Nnubia, and Mathew Kwaggas. Rev. Fr. Aloysius Isua succeeded 
                            Fr. Agber as parish priest, himself handing over to Rev. Fr. Moses Jimbili – the current parish priest – in 2018. 
                            Mr. Augustine Ager is the parish Catechist; he succeeded Mr. John Obodoagu – the pioneer catechist of the parish.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section> <!-- end page content -->


    <!-- Social
    ================================================== -->
    <section class="s-social">
            
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->
{% endblock content %}
