{% extends 'stkev_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load event_tags %}

{% load hosts %}

{% block content %}
    <!-- hero
    ================================================== -->
    <section class="s-hero" data-parallax="scroll" data-image-src="{% static 'assets/img/home_bg.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="hero-left-bar"></div>

        <div class="row hero-content">

            <div class="column large-full hero-content__text">
                <h1>
                    Saint Kevin's <br>
                    Catholic Church <br>
                    Jikwoyi
                </h1>

                <div class="hero-content__buttons">
                    <a href="#" class="btnz btn--strokez">
                        <span>Sunday Masses</span>
                        <span style="display:block;">7:00AM | 9:00AM | 6:00PM</span>
                    </a>
                    <a href="#" class="btnz btn--strokez">
                        <span>Weekday Masses</span>
                        <span style="display:block;">6:00AM | 6:00PM</span>
                    </a>
                    <a href="#" class="btnz btn--strokez">
                        <span>Saturdays</span>
                        <span style="display:block;">Mass/Confessions: 7:00AM</span>
                    </a>
                    <a href="{% url 'stkevins:event_list' %}" class="btny btn--strokey">Announcements</a>
                </div>
            </div> <!-- end hero-content__text -->

        </div> <!-- end hero-content -->

        <ul class="hero-social">
            <li class="hero-social__title">Follow Us</li>
            <li>
                <a href="#0" title="">Facebook</a>
            </li>
            <li>
                <a href="#0" title="">YouTube</a>
            </li>
            <li>
                <a href="#0" title="">Instagram</a>
            </li>
        </ul> <!-- end hero-social -->

        <div class="hero-scroll">
            <a href="#about" class="scroll-link smoothscroll">
                Scroll For More
            </a>
        </div> <!-- end hero-scroll -->

    </section> <!-- end s-hero -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about">

        <div class="row row-y-center about-content">

            <div class="column large-half medium-full">
                <img width="500" height="300" class="" alt="sample-image" src="{% static 'assets/img/frjim2.jpeg' %}">
                <h3 style="color:white;">Rev. Fr. Moses Jimbili - Parish Priest</h3>
            </div>

            <div class="column large-half medium-full">
                <h3 class="subhead">St Kevin's Catholic Church, Jikwoyi</h3>
                <p>
                St Kevin's Catholic Church, Jikwoyi is a community of Catholic Faithful drawn from Jikwoyi and parts of Karu, Mararaba and Orozo.
                The Over 2000 member parish is pastored by Rev. Fr. Moses Jimbili (Parish Priest) and Rev. Fr. Sabastian Musa (Associate Priest), 
                under the authority of His Grace, Most Rev. Dr. Ignatius Ayau Kaigama, Archbishop of the Metropolitan See of Abuja Ecclesiastical Province.
                </p>
                <p>
                    Parishioners of St. Kevin's, known for their zeal and cheerful disposition, are predominantly traders, civil servants and peasants.
                </p>
                
                <a href="{% url 'stkevins:history' %}" class="btn btn--primary btn--about">Our History</a>
            </div>

        </div> <!-- end about-content -->

    </section> <!-- end s-about -->


    <!-- connect
    ================================================== -->
    <section class="s-connect">

        <div class="row events-header">
            <div class="column">
                <h3 class="display-1">Membership.</h3>
            </div>

            

        </div>

        <div class="row connect-content">
            <div class="column large-12 tab-full">
                <p>
                    But you have come to Mount Zion and to the city of the living God, the heavenly Jerusalem, to an innumerable company of 
                    angels, to the general assembly and church of the firstborn who are registered in heaven, to God the Judge of all, to 
                    the spirits of just men made perfect, to Jesus the Mediator of the new covenant, and to the blood of sprinkling that 
                    speaks better things than that of Abel.
                </p>

                <p class="churchy">Hebrews 12:22-24</p>

                <h3 class="display-1 churchy">Are you a documented member of St. Kevin’s Parish?</h3>

                <h4 class="churchy">
                    Practicing Catholics belong to the Men, Women, or Youth Groups, and to a Pious Society in the Church. <br>
                    Click below to join a Group or a Society and someone would reach out to you.
                </h4>
                <div class="row">
                    <div class="column large-6 tab-full">
                        <p>
                            <a class="btn btn--primary h-full-width" href="{% url 'stkevins:groupmembership' %}">Join A Group</a>
                        </p>
                    </div>
        
                    <div class="column large-6 tab-full">
                        <p>
                            <a class="btn btn--primary h-full-width" href="{% url 'stkevins:societymembership' %}">Join A Society</a>
                        </p>
                    </div>
                </div>
            </div>
        </div> <!-- end connect-content  -->

    </section> <!-- end s-connect -->


    <!-- events
    ================================================== -->
    <section class="s-events">

        <div class="row events-header">
            <div class="column">
                <h2 class="subhead">Announcements.</h2>
            </div>
        </div> <!-- end event-header -->

        <div class="row block-large-1-2 block-900-full events-list">

            {% recent_events %}

        </div> <!-- end events-list -->

        <div class="row add-bottom">
            <div class="column large-full">
                <p class="churchy">
                    <a class="btn btn--primary" href="{% url 'stkevins:event_list' %}">More</a>
                </p>
            </div>
        </div>

    </section> <!-- end s-events -->


    <!-- series
    ================================================== -->
    <section class="s-series">

        <div class="series-img" style="background-image: url('{% static 'assets/img/series.jpg' %}');"></div>

        <div class="row row-y-center series-content">

            <div class="column large-half medium-full">
                <h3 class="subhead">My Sunday Bread</h3>
                <h2>10 Years in His Vineyard.</h2>
                <p><a href="#"><img width="120" height="120" class="h-pull-left" alt="sample-image" src="{% static 'assets/img/moz.jpeg' %}"></a>
                    Rev. Fr. Moses Jimbili is a priest of the Archdiocese of Abuja, ordained  
                    December 17, 2011. He studied Philosophy and Theology at Saint Thomas Aquinas
                    Major Seminary, Makurdi, an affiliate of the Pontifical Urbanian University, Rome.
                    He is an ardent lover of God, a brilliant preacher of God's Word, a pastor per excellence
                    an avid reader and a sportsman. 
                </p>
                
            </div> <!-- end column -->

            <div class="column large-half medium-full">
                <div class="series-content__buttons">
                    <p>
                        <img src="{% static 'assets/img/book.png' %}" alt="">
                    </p>
                </div>

                <div class="series-content__subscribe">
                    <p>
                    Grab a copy at your local parish bookshops.
                    </p>
                </div>
            </div> <!-- end column -->
            
        </div> <!-- series-content -->

    </section> <!-- end s-series -->

    <section class="page-content">

        <div class="row">
            <div class="column">

                <div class="row">
                    <div class="column large-12 tab-full">
                        <h1 class="churchy">Are you fulfilling your financial obligations to your parish?</h1>

                        <h3 class="churchy">Pay To: </h3>

                        <p class="churchy">
                            <strong>Account Name: </strong>St. Kevins Catholic Church<br>
                            <strong>Account Number: </strong>246789098643<br>
                            <strong>Bank: </strong>Sterling Bank<br>
                            <strong>Call the Cathecist on </strong>09046099098<br>
                        </p>
                        <br>
                    </div>
                </div>

                <div class="row donation">
                    <div class="column large-3 tab-full donation-div">

                        <div class="mychurch-staff__picture">
                            <img src="{% static 'assets/img/avatars/AMC.jpeg' %}" alt="">
                        </div>

                        <h3 class="churchy donation-text">Annual Mission Collection.</h3>
                        <h5 class="churchy donation-text">N500/Year</h5>
                        <p class="churchy donation-text">
                            Pay to: <br>
                            0000000000 <br>
                            St Kevin’s Cath Church <br>
                            Sterling Bank <br>
                            Call: 0800 100 2000
                        </p>
                    </div>

                    <div class="column large-3 tab-full donation-div">

                        <div class="mychurch-staff__picture">
                            <img src="{% static 'assets/img/avatars/levy.jpg' %}" alt="">
                        </div>

                        <h3 class="churchy donation-text">Harvest of Love 2022.</h3>
                        <h5 class="churchy donation-text">Pay Levies/Make Donations/Redeem Pledges</h5>
                        <p class="churchy donation-text">
                            Pay to: <br>
                            0000000000 <br>
                            St Kevin’s Cath Church <br>
                            Sterling Bank <br>
                            Call: 0800 100 2000
                        </p>
                    </div>

                    <div class="column large-3 tab-full donation-div">

                        <div class="mychurch-staff__picture">
                            <img src="{% static 'assets/img/avatars/offering.jpg' %}" alt="">
                        </div>

                        <h3 class="churchy donation-text">Mass Offering.</h3>
                        <h5 class="churchy donation-text">Book Masses/Make Offering</h5>
                        <p class="churchy donation-text">
                            Pay to: <br>
                            0000000000 <br>
                            St Kevin’s Cath Church <br>
                            Sterling Bank <br>
                            Call: 0800 100 2000
                        </p>
                        
                    </div>

                    <div class="column large-3 tab-full donation-div">

                        <div class="mychurch-staff__picture">
                            <img src="{% static 'assets/img/avatars/offering.jpg' %}" alt="">
                        </div>

                        <h3 class="churchy donation-text">Church Building Project.</h3>
                        <h5 class="churchy donation-text">Make Donations/Redeem Pledges</h5>
                        <p class="churchy donation-text">
                            Pay to: <br>
                            0000000000 <br>
                            St Kevin’s Cath Church <br>
                            Sterling Bank <br>
                            Call: 0800 100 2000
                        </p>
                        
                    </div>

                </div>

                

                <div class="row">
                    <div class="column large-full">

                        <h1>Adverts at St Kevins, Jikwoyi.</h1>
        
                        <div id="slideshow">
        
                            <div>  
                              <img src="{% static 'assets/img/img1.jpg' %}">
                            </div>
                            <div>
                              <img src="{% static 'assets/img/img2.jpg' %}">
                            </div>
                            <div>
                              <img src="{% static 'assets/img/img3.jpg' %}">
                            </div>
        
                        </div>
        
                    </div>
                </div>

            </div>
        </div>

    </section> <!-- end page-content -->


    <!-- Social
    ================================================== -->
    <section class="s-social">
            
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->
{% endblock content %}