{% extends 'stkev_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load event_tags %}

{% load hosts %}

{% block content %}
    <!-- hero
    ================================================== -->
    <section class="s-hero" data-parallax="scroll" data-image-src="{% static 'assets/img/home_bg.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="hero-left-bar"></div>

        <div class="row hero-content">

            <div class="column large-full hero-content__text">
                <h1>
                    Welcome To <br>
                    Saint Kevin's <br>
                    Parish Jikwoyi
                </h1>

                <div class="hero-content__buttons">
                    <a href="{% url 'stkevins:event_list' %}" class="btn btn--stroke">Upcoming Events</a>
                    <a href="{% url 'stkevins:history' %}" class="btn btn--stroke">History</a>
                </div>
            </div> <!-- end hero-content__text -->

        </div> <!-- end hero-content -->

        <ul class="hero-social">
            <li class="hero-social__title">Follow Us</li>
            <li>
                <a href="#0" title="">Facebook</a>
            </li>
            <li>
                <a href="#0" title="">YouTube</a>
            </li>
            <li>
                <a href="#0" title="">Instagram</a>
            </li>
        </ul> <!-- end hero-social -->

        <div class="hero-scroll">
            <a href="#about" class="scroll-link smoothscroll">
                Scroll For More
            </a>
        </div> <!-- end hero-scroll -->

    </section> <!-- end s-hero -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about">

        <div class="row row-y-center about-content">

            <div class="column large-half medium-full">
                <h3 class="subhead">St Kevin's, Jikwoyi</h3>
                <p>
                St Kevin's Parish, Jikwoyi is a community of Catholic Faithful drawn from Jikwoyi and parts of Karu, Mararaba and Orozo.
                The Over 2000 member parish is pastored by Rev. Fr. Moses Jimbili (Parish Priest) and Rev. Fr. Sabastian Musa (Associate Priest), 
                under the authority of His Grace, Most Rev. Dr. Ignatius Ayau Kaigama, Archbishop of the Metropolitan See of Abuja Ecclesiastical Province.
                </p>
                <p>
                    Parishioners of St. Kevin's, known for their zeal and cheerful disposition, are predominantly traders, civil servants and peasants.
                </p>
                
                <a href="{% url 'stkevins:history' %}" class="btn btn--primary btn--about">More</a>
            </div>

            <div class="column large-half medium-full">
                <ul class="about-sched">
                    <li>
                        <h4>Masses</h4>
                        <p>
                        Sundays - 6:00 AM | 8:00 AM | 10:00 AM <br>
                        Weekdays - 6:00 AM | 12:00 PM | 6:00 PM <br>
                        Mass Center, St Kevin's, Jikwoyi
                        </p>
                    </li>
                    <li>
                        <h4>Exposition</h4>
                        <p>
                        Weekdays - 5:45 AM <br>
                        Mass Center, St Kevin's, Jikwoyi
                        </p>
                    </li>
                    <li>
                        <h4>Confessions</h4>
                        <p>
                        Saturdays - 07:00 AM <br>
                        Mass Center, St Kevin's, Jikwoyi
                        </p>
                    </li>
                </ul> <!-- end about-sched-->
            </div>

        </div> <!-- end about-content -->

    </section> <!-- end s-about -->


    <!-- connect
    ================================================== -->
    <section class="s-connect">

        <div class="row connect-content">
            <div class="column large-half tab-full">
                <h3 class="display-1">Register with us.</h3>
                <p>
                At St Kevin's, we encourage our parishioners to become
                registered members of this great catholic community.
                Registered members enjoy unique benefits and have direct
                access to previleges offered by the church. Click the 
                link below to find out how to join and be part of this great 
                catholic community. You are welcomed in the name of the Lord.
                </p>

                <a href="{% url 'stkevins:contact' %}" class="btn btn--primary h-full-width">I'm Interested</a>
            </div>
            <div class="column large-half tab-full">
                <h3 class="display-1">Join a Society.</h3>
                <p>
                Being a registered member of St Kevin's Parish is a great first step.
                Parishioners are also advised to join a pius society so as to 
                participate actively in the mission of the church. There are many
                interesting pius societies to join. To learn more about
                the pius societies in St Kevin's Jikwoyi, click on the link
                below. 
                </p>

                <a href="{% url 'stkevins:society_list' %}" class="btn btn--primary h-full-width">Learn More</a>
            </div>
        </div> <!-- end connect-content  -->

    </section> <!-- end s-connect -->


    <!-- events
    ================================================== -->
    <section class="s-events">

        <div class="row events-header">
            <div class="column">
                <h2 class="subhead">Upcoming Events.</h2>
            </div>
        </div> <!-- end event-header -->

        <div class="row block-large-1-2 block-900-full events-list">

            {% recent_events %}

        </div> <!-- end events-list -->

    </section> <!-- end s-events -->


    <!-- series
    ================================================== -->
    <section class="s-series">

        <div class="series-img" style="background-image: url('{% static 'assets/img/series.jpg' %}');"></div>

        <div class="row row-y-center series-content">

            <div class="column large-half medium-full">
                <h3 class="subhead">My Sunday Bread</h3>
                <h2>10 Years in His Vineyard.</h2>
                <p><a href="#"><img width="120" height="120" class="h-pull-left" alt="sample-image" src="{% static 'assets/img/moz.jpeg' %}"></a>
                    Rev. Fr. Moses Jimbili is a priest of the Archdiocese of Abuja, ordained  
                    December 17, 2011. He studied Philosophy and Theology at Saint Thomas Aquinas
                    Major Seminary, Makurdi, an affiliate of the Pontifical Urbanian University, Rome.
                    He is an ardent lover of God, a brilliant preacher of God's Word, a pastor per excellence
                    an avid reader and a sportsman. 
                </p>
                
            </div> <!-- end column -->

            <div class="column large-half medium-full">
                <div class="series-content__buttons">
                    <p>
                        <img src="{% static 'assets/img/book.png' %}" alt="">
                    </p>
                </div>

                <div class="series-content__subscribe">
                    <p>
                    Grab a copy at your local parish bookshops.
                    </p>
                </div>
            </div> <!-- end column -->
            
        </div> <!-- series-content -->

    </section> <!-- end s-series -->

    <section class="page-content">

        <div class="row">
            <div class="column">

                <div class="row">
                    <div class="column large-12 tab-full">
                        <h1 class="churchy">Are you committed to the work of spreading the Gospel through support for your local church?</h1>

                        <h3 class="churchy">Pay To: </h3>

                        <p class="churchy">
                            <strong>Account Name: </strong>St. Kevins Catholic Church<br>
                            <strong>Account Number: </strong>246789098643<br>
                            <strong>Bank: </strong>Sterling Bank<br>
                            <strong>Call the Cathecist on </strong>09046099098<br>
                        </p>
                        <br>
                    </div>
                </div>

                <div class="row donation">
                    <div class="column large-4 tab-full donation-div">

                        <div class="mychurch-staff__picture">
                            <img src="{% static 'assets/img/avatars/AMC.jpeg' %}" alt="">
                        </div>

                        <h3 class="churchy donation-text">Annual Mission Collection (AMC).</h3>
                        <p class="churchy donation-text">
                        It helps the church to<br>
                        function from day to day.<br>
                        Mon-Thur 8:30am – 4:30pm 
                        </p>
                    </div>

                    <div class="column large-4 tab-full donation-div">

                        <div class="mychurch-staff__picture">
                            <img src="{% static 'assets/img/avatars/levy.jpg' %}" alt="">
                        </div>

                        <h3 class="churchy donation-text">Harvest Levy.</h3>
                        <p class="churchy donation-text">
                        It helps the parish to undertake<br>
                        capital intensive development projects <br>
                        </p>
                    </div>

                    <div class="column large-4 tab-full donation-div">

                        <div class="mychurch-staff__picture">
                            <img src="{% static 'assets/img/avatars/offering.jpg' %}" alt="">
                        </div>

                        <h3 class="churchy donation-text">Mass Offering.</h3>
                        <p class="churchy donation-text">
                            It helps the parish to procure<br>
                            Sacristy items which are essential <br>
                            for masses and the sacraments.
                        </p>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="column large-full">

                        <h1>Adverts at St Kevins, Jikwoyi.</h1>
        
                        <div id="slideshow">
        
                            <div>  
                              <img src="{% static 'assets/img/img1.jpg' %}">
                            </div>
                            <div>
                              <img src="{% static 'assets/img/img2.jpg' %}">
                            </div>
                            <div>
                              <img src="{% static 'assets/img/img3.jpg' %}">
                            </div>
        
                        </div>
        
                    </div>
                </div>

            </div>
        </div>

    </section> <!-- end page-content -->


    <!-- Social
    ================================================== -->
    <section class="s-social">
            
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->
{% endblock content %}