{% load static %}

{% load crispy_forms_tags %}

{% load hosts %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{% block title %}St Kevins, Jikwoyi{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'assets/js/modernizr.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/site.webmanifest' %}">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="{% url 'stkevins:stkevins' %}">
                <svg height="100" width="600">
                    <style>
                        .heavy { font: bold 30px sans-serif; }
                    
                        /* Note that the color of the text is set with the    *
                         * fill property, the color property is for HTML only */
                        .Rrrrr { font: normal 15px sans-serif; }
                      </style>
                    <text x="0" y="39" fill="white" class="heavy">St Kevin's, Jikwoyi</text>
                    <text x="0" y="60" fill="white" class="Rrrrr">Catholic Arch-Diocese of Abuja</text>
                </svg>
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a href="{% url 'stkevins:stkevins' %}" title="Home">Home</a></li>
                <li><a href="{% url 'stkevins:event_list' %}" title="calender">Calendar</a></li>
                <li><a href="{% url 'stkevins:parishioner_list' %}" title="parishioners">Parishioners</a></li>
                <li><a href="{% url 'stkevins:gallery' %}" title="gallery">Gallery</a></li>
                <li><a href="{% url 'stkevins:history' %}" title="history">History</a></li>
                <li><a href="{% url 'stkevins:contact' %}" title="Contact us">Contact</a></li>	
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


    {% block content %}
    {% endblock content %}


    <!-- footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row footer-top">
            <div class="column large-4 medium-5 tab-full">
                <div class="footer-logo">
                    <a class="site-footer-logo" href="#">
                        <svg height="100" width="600">
                            <style>
                                .heavy { font: bold 30px sans-serif; }
                            
                                /* Note that the color of the text is set with the    *
                                 * fill property, the color property is for HTML only */
                                .Rrrrr { font: normal 15px sans-serif; }
                              </style>
                            <text x="0" y="39" fill="white" class="heavy">St Kevin's, Jikwoyi</text>
                            <text x="0" y="60" fill="white" class="Rrrrr">Catholic Arch-Diocese of Abuja</text>
                        </svg>
                    </a>
                </div>  <!-- footer-logo -->
                <p>
                    St Kevin's Parish, Jikwoyi is a community of Catholic Faithful drawn from 
                    Jikwoyi and parts of Karu, Mararaba and Orozo.
                </p>
            </div>
            <div class="column large-half tab-full">
                <div class="row">
                    <div class="column large-7 medium-full">
                        <h4 class="h6">Our Location</h4>
                        <p>
                        Phase 3, Jikwoyi <br>
                        Abuja, Nigeria <br>
                        94043
                        </p>
        
                        <p>
                        <a href="https://goo.gl/maps/bc7C7eYtSmnNs6216" target="_blank" class="btn btn--footer">Get Direction</a>
                        </p>
                    </div>
                    <div class="column large-5 medium-full">
                        <h4 class="h6">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a href="{% url 'stkevins:stkevins' %}">Home</a></li>
                            <li><a href="{% url 'stkevins:history' %}">History</a></li>
                            <li><a href="{% url 'stkevins:event_list' %}">Calendar</a></li>
                            <li><a href="{% url 'stkevins:parishioner_list' %}">Parishioners</a></li>
                            <li><a href="{% url 'stkevins:contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end footer-top -->

        <div class="row footer-bottom">
            <div class="column ss-copyright">
                <span>© Copyright Hesed 2019</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div> <!-- footer-bottom -->

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
            </a>
        </div> <!-- ss-go-top -->

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/stkev_main.js' %}"></script>

</body>